body {
    background-color: #FFFFFF;
    color: #003366;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #003366;
    color: #F0F0F0;
    font-family: 'Times New Roman', serif;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #777;
}

nav {
    font-weight: bold;
    text-align: center;
    background-color: #5280C5;
    padding: 0.5em;
}

dt {
    color: #5280C5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, serif;
}

.category {
    font-weight: bold;
    color: #5380C5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding-bottom: .5em;
    margin-top: 3em;
    background-color: #AEC3E3;
}

main {
    padding-left: 2em;
    padding-right: 2em;
}

#wrapper {
    min-width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F0F0;
}